@inherits InputBase<StringElementModel>

<div class="border-solid border-2 border-slate-400 p-4">
    <h3 class="text-base md:text-lg w-fit border-solid border-b-2 border-slate-400">Text element</h3>

    <TextEntry Id="str_elem_title"
               Label="Title"
               @bind-Value="CurrentValue!.Title"
               ValidationFor="@(() => CurrentValue.Title)"/>
</div>

@code {

    protected override bool TryParseValueFromString(string? value, out StringElementModel result, out string? validationErrorMessage)
    {
        throw new NotImplementedException();
    }

}