<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="InForm.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/tag/v1/latest/plex.css"/>
    <HeadOutlet/>
</head>

<body class="h-screen text-zinc-950 dark:text-zinc-100 bg-slate-100 dark:bg-slate-950">
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>