@using InForm.Server.Core.Features.Fill
<div class="my-4">
    <ResponseShell Title="@ElementResponse.Title"
                   Subtitle="@ElementResponse.Subtitle">
        @switch (ElementResponse)
        {
            case StringElementResponse strings:
                <StringResponse Response="@strings"/>
                break;
            case MultiChoiceElementResponse multi:
                <MultiChoiceResponse Response="@multi"/>
                break;
        }
    </ResponseShell>
</div>

@code {
    [Parameter]
    public ElementResponse ElementResponse { get; set; } = default!;
}
