@using InForm.Server.Core.Features.Fill

<table class="w-full">
    <thead>
        <tr>
            <td><div class="mb-2 mr-2 border-solid border-b w-fit">Response</div></td>
            @if (NotOnlySingleAnswers)
            {
                <td class="w-3"><div class="mb-2 mr-2 border-solid border-b w-fit">Cardinality</div></td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var resp in Response.Responses)
        {
            <tr>
                <td><div class="my-1 mr-2">@resp.Key</div></td>
                @if (NotOnlySingleAnswers)
                {
                    <td><div class="my-1 mr-2">@resp.Value</div></td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public StringElementResponse Response { get; set; } = default!;

    private bool NotOnlySingleAnswers => Response.Responses.Select(x => x.Value).Any(x => x != 1);
}
