@inherits LayoutComponentBase

<main class="flex w-full">
    <div class="flex items-center h-10 px-4 border-b-2">
        <a href="/">In<span class="font-bold">Form</span></a>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>