@page "/"
@inject ILogger<OpenFormPage> Logger
@inject IFormsService FormsService
@inject NavigationManager NavigationManager
@layout BlankLayout

<PageTitle>InForm - Open form</PageTitle>

<InFormLogo Size="LogoSize.Header"/>
<EditForm FormName="open_form"
          EditContext="_editContext"
          OnValidSubmit="DoOpenForm"
          class="flex flex-col items-start py-4">
    <FluentValidationValidator/>

    <TextEntry Id="form_id"
               Class="w-full"
               Label="FormID"
               @bind-Value="SearchForm!.FormId"
               ValidationFor="@(() => SearchForm!.FormId)"/>
    <div>@_errorText</div>

    <div class="w-full flex flex-row justify-between">
        <a href="/Create"
           class="no-underline text-zinc-950 dark:text-zinc-100">
            <div class="block border-b-2 border-solid border-slate-400 p-2 my-4 focus:ring-0
                        hover:bg-slate-950 hover:dark:bg-slate-100 hover:border-slate-50
                        hover:dark:border-slate-950 hover:dark:text-zinc-950 hover:text-zinc-100">
                Create
            </div>
        </a>
        <button class="block border-b-2 border-slate-400 p-2 my-4 focus:ring-0
                       hover:bg-slate-950 hover:dark:bg-slate-100 hover:border-slate-50
                       hover:dark:border-slate-950 hover:dark:text-zinc-950 hover:text-zinc-100">
            Open
        </button>
    </div>
</EditForm>

@code {
    private EditContext _editContext = default!;

    [SupplyParameterFromForm]
    public OpenFormModel? SearchForm { get; set; }

    private string? _errorText = string.Empty;

    protected override void OnInitialized()
    {
        SearchForm ??= new();
        _editContext = new EditContext(SearchForm);
        _editContext.SetFieldCssClassProvider(new TailwindCssClassProvider());
    }

    private async Task DoOpenForm()
    {
        try
        {
            if (SearchForm is null) return;
            var formId = Guid.Parse(SearchForm.FormId);
            var formMetadata = await FormsService.GetFormName(formId);
            NavigationManager.NavigateTo($"/form/{formId}");
        }
        catch (ApplicationException)
        {
            _errorText = "There is no form with the given ID";
        }
        catch (FormatException)
        {
            _errorText = "FormID is not in a valid format";
        }
    }

}