@page "/"
@layout BlankLayout

<PageTitle>InForm - Open form</PageTitle>

<InFormLogo Size="LogoSize.Header"/>
<EditForm FormName="open_form"
          Model="_searchForm"
          OnValidSubmit="DoOpenForm"
          class="flex flex-col items-start border-2 py-4">
    <DataAnnotationsValidator/>

    <label for="form_id" class="text-zinc-700 dark:text-zinc-300">FormID</label>
    <InputText id="form_id"
               class="block px-0 bg-slate-100 dark:bg-slate-950 text-zinc-950
                      dark:text-zinc-100 border-0 border-b-2 border-slate-400
                      focus:border-slate-950 focus:dark:border-slate-50 focus:ring-0"
               @bind-Value="_searchForm.FormId"
               autocomplete="off"/>
    <div class="block w-full flex flex-row-reverse">
        <button class="block border p-2 my-4 focus:ring-0">
            Open
        </button>
    </div>
</EditForm>

@code {
    private readonly OpenFormModel _searchForm = new();

    private async Task DoOpenForm()
    {
        await Task.Delay(400);
    }

}